@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(243, 84, 10, 0.35)), url("../images/gym.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 140px;
}

.nav-links {
    padding: 28px 0;
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 0;
    position: relative;
}

.nav-links a::after {
    content: '';
    background: #26CACB;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-links a:hover::after {
    width: 100%;
}

.btn {
    background: darkblue;
    color: white;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;

}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding-top: 50px;
}

.content h1 {
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 10px;
}

.content form {
    background: white;
    padding: 0px;
    border-radius: 8px;
    display: flex;
}


.content form input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;

}

.content form button {
    background: aquamarine;
    color: white;
    padding: 14px 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.category-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.category {
    width: 80px;
    height: 80px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex direction: column;
    filter: saturate(500%) contrast(800%) brightness(500%) invert(100%) sepia(50%) hue-rotate(120deg);
}

.btn-grad {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
    margin: 20px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 0px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}


.btn-grad-join {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
    margin: 20px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    width: 50%;

}

.btn-grad-join:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}



a {
    color: white;
    text-decoration: none;

}

.joinusbutton {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #26CACB;
}

footer {
    background-color: darkslategray;
}